@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    padding: 50px;
}

h1 {
    font-size: 48px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: whitesmoke;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.controls button {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #373737;
    font-size: 24px;
}

span {
    font-size: 14px;
}

button {
    gap: 20px;
    cursor: pointer;
}

.items {
    display: flex;
    gap: 50px;
}

.items button {
    height: calc(350px / 3);
    width: calc(350px / 3);
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    display: flex;
    border-color: #373737;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.result {
    background-color: #ccc;
    height: 200px;
    width: 450px;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #111;
    padding: 20px;
    font-size: 14px;
}

.clicked {
    background-color: #666;
}

#return {
    height: calc(350px / 3);
    width: calc(350px / 3);
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    display: flex;
    border-color: #373737;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}