body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    padding: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.controls div {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: #373737;
}